<div class="user-activity-overview">
    <h1>User Activity Overview</h1>
    <p>Students: {{ studentTotal }}</p>
    <p>Active Learners: {{ activeLearnerTotal }}</p>
</div>

<div class="course-management">
    <h1>My Courses</h1>
    <p>Course Overview: {{ courseName }}</p>
    <p>Add/Update Course: {{ addCourse }}</p>
    <p>Course Enrollment: {{ studentCount }}</p>
</div>

<div class="recent-activity">
    <h1>Recent Activity</h1>
    <p>Announcements: {{ announcements }}</p>
    <p>Feedback and Reports: {{ feedback }}</p>
</div>

{{!-- 

const data = {
  teachersName: "John Doe",
  systemRole: "Lecturer",
  studentTotal: 130,
  activeLearnerTotal: 72,
  courseName: "Software Project Management",
  addCourse: "Web Development",
  studentCount: 130,
  announcements: "Bob said: 'I forgot to submit the assignment' ",
  feedback: "Average: 78%",
  adminSchool: "National University of Science & Technology",
};



 --}}